Source: quart
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Andrej Shadura <andrewsh@debian.org>
Section: python
Testsuite: autopkgtest-pkg-python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               flit,
               pybuild-plugin-pyproject,
               python3-aiofiles,
               python3-all,
               python3-blinker,
               python3-click,
               python3-dotenv,
               python3-flask <!nodoc>,
               python3-hypercorn,
               python3-hypothesis,
               python3-itsdangerous,
               python3-jinja2,
               python3-markupsafe,
               python3-myst-parser <!nodoc>,
               python3-pytest <!nocheck>,
               python3-pytest-asyncio <!nocheck>,
               python3-pytest-cov <!nocheck>,
               python3-sphinx <!nodoc>,
               python3-sphinx-rtd-theme <!nodoc>,
               python3-toml,
               python3-werkzeug (>= 2.2.0~),
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/python-team/packages/quart
Vcs-Git: https://salsa.debian.org/python-team/packages/quart.git
Homepage: https://github.com/pallets/quart
Rules-Requires-Root: no

Package: python-quart-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends},
         ${sphinxdoc:Depends}
Description: Python ASGI web microframework with the same API as Flask (Documentation)
 Quart is a Python ASGI web microframework. It is intended to provide the
 easiest way to use asyncio functionality in a web context, especially
 with existing Flask apps. This is possible as the Quart API is a superset
 of the Flask API.
 .
 Quart aims to be a complete web microframework, as it supports HTTP/1.1,
 HTTP/2 and websockets. Quart is very extendable and has a number of
 known extensions and works with many of the Flask extensions.
 .
 Quart supports the full ASGI 3.0 specification as well as the websocket
 response and HTTP/2 server push extensions. For those of you familiar
 with Flask, Quart extends the Flask API by adding support for:
 .
  * HTTP/1.1 request streaming
  * Websockets
  * HTTP/2 server push
 .
 This package contains the documentation and examples.

Package: python3-quart
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Python ASGI web microframework with the same API as Flask
 Quart is a Python ASGI web microframework. It is intended to provide the
 easiest way to use asyncio functionality in a web context, especially
 with existing Flask apps. This is possible as the Quart API is a superset
 of the Flask API.
 .
 Quart aims to be a complete web microframework, as it supports HTTP/1.1,
 HTTP/2 and websockets. Quart is very extendable and has a number of
 known extensions and works with many of the Flask extensions.
 .
 Quart supports the full ASGI 3.0 specification as well as the websocket
 response and HTTP/2 server push extensions. For those of you familiar
 with Flask, Quart extends the Flask API by adding support for:
 .
  * HTTP/1.1 request streaming
  * Websockets
  * HTTP/2 server push
